extends layout

block content

    .container
        .header
            h1 Bluetooth Low Energy Web Interface
            p #{title}
        .menu
            a.sensor(href="/sensortag") TI Sensor Tag
            br
            a.withings(href="/withings") Withings

